# Dependencies
bs.dbs.db
Thumes
ehthumb
.Trash00tlight-V1
.Spo._*Store?
e
.DS_DS_Stores
.enerated fil
# OS g
*~

*.swo*.swp/
.ideavscode/
s
. and filectoriesEditor dire
# /
temp/
folders
tmprary 

# Tempooutybook-.stors
.out
build outputorybook 

# Sticubl
p/les
.cacheGatsby fi

# stxt
dit
.nunerate outpus build / ge
# Nuxt.jt
put
.nexbuild out
# Next.js ache
e
.parcel-cg/)
.cach.orceljstps://parer cache (htl-bundl parce

#tes
.env.t fileariablesronment vdotenv envi
# ntegrity
n-i file
.yarrity# Yarn Integ'
*.tgz

 'npm pack Output of
#
_historyde_replstory
.nonal REPL hi
# Optio_umd/

.rts2_cachee_es/_cach_cjs/
.rts2.rts2_cache2_cache/

.rptbundle cachee

# Microntcach.esliche
 caional eslint
# Opt.npm
ry
irectoche dal npm caontis/

# Opackageries
jspm_py directopendenc

# Det
.nyc_outpuoverage cyc testcov

# nage/
*.lnbul
cover istaikes ly tooly used bage directorver
# Co

*.pid.lockeed
*.sids
*.pidtime data
p
# Rung*
debug.lo*
lerna-.logdebugnpm-
pr.log**
yarn-erroebug.logog*
yarn-d
npm-debug.ls

# Logn.localoductio
.env.pr.localv.test
.en.local.developmentl
.envenv.locanv
.les
.enment variab

# Envirot/
build/uts
dis# Build outpodules/

r/node_m
serveules/de_modno